@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;700&display=swap');

*{
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    overflow-x: hidden;

    --bg : #fff;
    --pastel_3: #FBE4FF;
    --pastel_2: #5016a7;
    --pastel_1: #FBE4FF;

    background-color: var(--bg);
    color: var(--pastel_3);
    font-family: 'Dancing Script', cursive;
}

section{
    width: 100%;
}

#sky .sky_background{
    height: 35em;
    background-image: url("https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fpluspng.com%2Fimg-png%2Fpurple-star-png-hd-galaxy-stars-wallpaper-hd-1920.png&f=1&nofb=1");
    background-size: cover;
    color: white;
    box-sizing: border-box;
    width: 100%;
}

#top_wheel{
    box-sizing: border-box;
    width: 150vw;
    background-color: var(--bg);
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    margin: -15em 0 0 -25vw;
    padding: 0 calc(25vw + 5em);
    border: .5em #111 solid;
    border-bottom: none;
    
    color: #111;
    background-color: var(--pastel_1);
}

#top_wheel h6{
    text-align: center;
    width: 100%;
    margin: 3em 0 -1.5em 0;
    font-size: 1.4em;
    font-weight: 700;
    font-family: 'Dancing Script', cursive;
}

#top_wheel #date{
    text-align: center;
    width: 100%;
    font-size: 3em;
    font-weight: 700;
    font-family: 'Dancing Script', cursive;
}

#top_wheel .underline{
    width: 5em;
    height: .1em;
    background-color: var(--pastel_3);
    margin-left: calc(50% - 2.5em);
}

#top_wheel .quote_wrapper{
    width:100%;
    display: flex;
    flex-direction: row;
    justify-content:center;
}

#top_wheel .quote{
    padding-top: 2em;
    max-width: 40em;
    font-size: 1.2em;
}

#top_wheel .quote q{
    padding: 0;
}

#top_wheel .quote p{
    text-align: right;
    padding: 0;
}

#yourSign {
    width: 100%;
    padding: 0em 0em;
    box-sizing: border-box;
}

#yourSign h4 {
    font-size: 2em;
    padding: .3em 0 .3em 2.5em;
    color: #111;
    background-color: var(--pastel_1);
}

#yourSign .sign_list .slider{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    overflow: hidden;
    padding: 0em .2em .2em 5em;
    display: none;
}

#yourSign .sign_list .slider div{
    color: black;
    margin-right: 2em;
    font-size: 1.5em;
}

#yourSign .sign_list .slider div.active::after{
    content: "";
    width: 120%;
    height: .1em;
    margin-left: -10%;
    background-color: var(--pastel_3);
    display: block;
}

#yourSign .sign_list .nextPrev{
    display: flex;
    flex-direction: row;
    padding: 0em 5em 2em 5em;
    justify-content: space-between;
    border-bottom: .15em solid #111;
}

#yourSign .sign_list .nextPrev div{
    font-size: 2em;
    color: #111;
}


#yourSign .sign_list .sign_wrapper{
    display: flex;
    flex-direction: row;
    padding: 2em 5em 0em 5em;
    margin-bottom: -1em;
}

#yourSign .sign_list .sign_wrapper .img{
    width: 10em;
    height: 10em;
    min-width: 10em;
    border: .2em solid var(--pastel_3);
    background-image: url("https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fpluspng.com%2Fimg-png%2Fpurple-star-png-hd-galaxy-stars-wallpaper-hd-1920.png&f=1&nofb=1");
    background-size: cover;
    border-radius: 5em;
    box-sizing: border-box;
}

#yourSign .sign_list .sign_wrapper .text{
    padding: 0 0 0 3em;
    word-wrap: wrap;
    color: #111;
}

#yourSign .sign_list .sign_wrapper .name{
    padding: 0;
    margin: 0;
    font-size: 3em;
}

#yourSign .sign_list .sign_wrapper .date{
    padding: .2em 0em 0em 0em;
    margin: 0;
    font-size: 1em;
}

#yourSign .sign_list .sign_wrapper .descr{
    padding: 1em 0em 0em 0em;
    margin: 0;
    font-size: 1.2em;
}

#yourSignDetailed{
    padding: 2em 0em
}

#yourSignDetailed h4{
    font-size: 2em;
    padding: .3em 0 .3em 2.5em;
    color: #111;
    background-color: var(--pastel_1);
}

#yourSignDetailed p{
    font-size: 1.5em;
    margin: 0 calc(5em/1.5);
    color: #111;
}

#yourSignDetailed a{
    font-size: 1.4em;
    color: var(--pastel_2);
    text-decoration: none;
    display: block;
    margin: 1em calc(5em/1.4)
}

#yourSignDetailed div.underline{
    width: 5em;
    height: .15em;
    background-color: var(--pastel_3);
    margin-left: calc(50% - 2.5em);
    margin-top: 4em;
}

#articles{
    padding: 1em 5em;
}

#articles > #article_wrapper{
    display: flex;
    flex-direction: column;
}

#articles > #article_wrapper .article{
    display: flex;
    flex-direction: row;
    text-decoration: none;
    margin-bottom: 1.5em;
    padding: .5em .5em .5em .5em;
    margin-left: -.5em;
    border: .1em solid var(--bg);
    color: var(--pastel_2);
}

#articles > #article_wrapper .article:hover{
    border: .1em solid var(--pastel_3);
}

#articles > #article_wrapper .article .article-image{
    width:5em;
    height:5em;
    border-radius: 2.5em;
    background-size: cover;
    border: .1em solid var(--pastel_3);
    box-sizing: border-box;
}

#articles > #article_wrapper .article .article-preview{
    display: flex;
    flex-direction: column;
    margin-left: 2em;
    width: calc(100% - 5em)
}

#articles > #article_wrapper .article .article-preview h3{
    margin: 0;
}

#articles > #article_wrapper .article .article-preview p{
    margin: 1em 0 0 0;
    white-space: wrap;
}

footer{
    text-align: center;
    padding: 4em 5em;
    width: 100%;
    background-color: var(--pastel_1);
    color: #111;
}

footer span{
    font-size: 1.3em;
}